.button {
    background: var(--primary);
    color: var(--secondary);
    border: 1px solid var(--secondary);
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s;
    transform: skewX(-45deg);
}

.button > div {
    transform: skewX(45deg);
}

.buttonSmall {
    width: 180px;
    height: 65px;
    font-size: 14px;
}

.buttonMedium {
    width: 180px;
    height: 65px;
    font-size: 16px;
}

.buttonLarge {
    width: 360px;
    height: 65px;
}

.button:hover,
.button:focus {
    background: var(--secondary);
    color: var(--primary);
    transition: all 0.3s;
}
