.rules {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.rulesContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    display: flex;
    gap: 30px;
    align-items: center;
}

.cardDescription {
    width: 80%;
}
