:root {
    --primary: #000000;
    --secondary: #ffffff;
    --gray-dark: #484848;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--secondary);
    background-color: var(--primary);
}

a {
    text-decoration: none;
}
