.gameWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    position: relative;
    margin-top: 10px;
}

.rooms {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px 5px;
}

.buttonHidden {
    display: none;
}
