.gameWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

.rooms {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4px 4px;
}
