.counterWrapper {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counterText {
    width: 100%;
    border-bottom: 1px solid var(--secondary);
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.counter {
    font-size: 110px;
    font-weight: 700;
}
