.button {
    background: none;
    border-radius: 10px;
    border: none;
}

.activeButton {
    border: 2px solid var(--secondary);
    background: var(--gray-dark);
    cursor: pointer;
}

.activeButton div {
    background: var(--gray-dark);
}

.activeButton > div:hover,
.activeButton {
    background: var(--secondary);
    border: 1px solid var(--secondary);
}
