.button {
    background: none;
    border-radius: 10px;
    border: none;
    transition: all 0.3s;
}

.activeButton {
    background: var(--gray-dark);
    cursor: pointer;
    transition: all 0.3s;
}

.activeButton div {
    background: var(--gray-dark);
    transition: all 0.3s;
}

.activeButton > div:hover,
.activeButton {
    background: var(--secondary);
    transition: all 0.3s;
}
